@media screen and (max-width: 500px){
    .details-navbar{
      flex-direction: column;
      p{
        width: 100%;
        margin-bottom: calculateRem(5px);
      }
      ul{
        flex-direction: column;
      }
    }

  .order-details-content{
    flex-direction: column;
    .order-derails-left-block{
      width: 100%;
      padding: 0;
      align-items: center;
    }
    .order-derails-right-block{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 0;
      p:first-child{
        margin-top: calculateRem(10px);
      }
    }
  }
}